.text h3{
	margin-top: 2%;
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
	color: #818285;

}


.text {
	margin-top: 2%;
	font-family: 'Work Sans', sans-serif;
	font-size: 20px;
	color: #818285;

}
#pageContent2{
	margin-top: 2%;
	width: 55%;
}
#pfp{
	margin-top: 1%;
}

