body{ 
	background-color: #E6E7E8;
	}
#pfp {
	width:320px;
	 display: block;
    margin-left: auto;
    margin-right: auto; 
	margin-top: 7%;
	}
#pfp4 {
	width:100px;
	 display: block;
    margin-left: auto;
    margin-right: auto; 
	margin-top: 9%;
	margin-bottom:-8%;
	}
#pfb{
	width: 320px;
	 display: block;
    margin-left: auto;
    margin-right: auto; 
	margin-top: 7%;
	margin-bottom:3%;
	}
.banner{
	display: inline;
	height:320px;
	width: 100%;
	margin-top: 2.5%;
	}
.banner h1{
	color: #A7A9AC;
	text-align: center;
	font-size: 40px;
	padding-top:3%;
	font-family: 'Open Sans', sans-serif;
	}
	
#note{
	height:150px;
	}
#comp{
	height:150px;
	}
#paint{
	height:150px;
	}
#icons{
	padding-top: 2.5%;
	}

.container{
	padding-top:5%;
	
	}
.container h1{
	font-family: 'Open Sans', sans-serif;
	color: #A7A9AC;
	padding-top: 1%;
	}
.container h3{
	padding-top: 4%;
	color: #336E7B;
	font-family: 'Open Sans', sans-serif;
	}
.container p{
	
	padding-top:1.5%;
	font-size:18px;
	}
#button{
	padding-top: 6%; 
	}

@media only screen and (max-width:767px){
.banner h1{
`	margin-top: 40px;
	}
#icons{
	padding-top: 10%;
	}
#note{
	height:120px;
	}
#comp{
	height:120px;
	}
#paint{
	height:120px;
	}
}

@media only screen and (max-width:490px){
#pfp{
	width:300px;
	}
#pfp4{
	width:70px;
	}
#note{
	height:60px;
	}
#comp{
	height:60px;
	}
#paint{
	height:60px;
	}
}
#pageContent{
	margin-top: -5%;
	margin-bottom:5%;
	}
	
	/* animations*/
.hex{ -webkit-animation-delay: .3s;}
.hex2{ -webkit-animation-delay: .5s;}
.hex3{ -webkit-animation-delay: .7s;}