
body{ 
	background-color: #E6E7E8;
	}

#button{
	padding-top: 10%;
	}
#link{
	margin-top:10%;
	}
#pfp2 {
	width:500px;
	display: block;
    margin-left: auto;
    margin-right: auto; 
	margin-top: 7%;
	}
	
#pfpp {
	width: 70%;
	display: block;
    margin-left: auto;
    margin-right: auto; 
	margin-top: 7%;
	}
#pic{
	margin-top: 5%;
	}
#pfp {
	width: 90%;
	display: block;
    margin-left: auto;
    margin-right: auto; 
	margin-top: 6%;
	}
.decorate p{
	width:80%;

	margin-top: 10%;
	font-family: "Times New Roman", Times, serif;
	font-size: 25px;
	color: #939598;
	
	}
#mac {
	padding-top: 2%;
	} 
#name{
	margin-top: -20%;
	margin-bottom: -5%;

	}
#pageContent8{
	margin-top:5%;
	width: 50%;
	line-height: 275%;
	}
#pageContent{
	margin-top:0%
	}
#pageContent2{
	width: 42%;
	line-height: 275%;
	margin-top:1.5%;
	}
	
.container h1{
	font-family: 'Open Sans', sans-serif;
	color: #A7A9AC;
	}

.title{
	margin-top:5%;
	}
.title h1{
	font-family: 'Open Sans', sans-serif;
	color: #A7A9AC;
	padding-top: 5%:
	}
	ol{
	font-size:18px;
	font-family: 'PT Serif', serif;
	}
#info{ 
	margin-top: 5%;
	}
.quickInfo{
	padding-top: 2%;
	}
.quickInfo p{
	font-size: 16px;
	margin-top: -2%;
	}
	
p{
	font-size: 19px;
	padding-top:1%;
	font-family: 'PT Serif', serif;
	}

	
.container h3{
	padding-top: 10%;
	color: #7465A7;
	font-size: 26pt;
	font-family: 'Open Sans', sans-serif;
	}
.container h4{
	padding-top: 3%;
	color: #b1a0b7;
	font-size: 18pt;
	font-family: 'Open Sans', sans-serif;
	}
	
	/* extra pics*/
#carouselPlus{
	width: 42%;
	margin-top:50px;
	}

#carousel{

	
	}
.thmb1, .thmb2, .thmb3, .thmb4, .thmb5{	
	margin-bottom:40px;
	}



#column {
	margin-top:-25px;
	}

mark{
	background-color: #B1A0B7;
	}	
@media only screen and (max-width:510px){
	#pfp2 {
	width: 300px;
	
	}

	}