#pageContentHm h4{
	font-family: 'Montserrat', sans-serif;
	margin-top: 2%;

}

#pageContent8 h3{
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;

}

#pageContent h3{
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;

}


	#pfp2 {
	width:60%;
	display: block;
    margin-left: auto;
    margin-right: auto; 
	margin-top: 5%;
	}
#pfp {
	width: 80%;
	display: block;
    margin-left: auto;
    margin-right: auto; 
	margin-top: 10%;

	}
	
#pfp3 {
	width:100%;
	display: block;
    margin-left: auto;
    margin-right: auto; 
	margin-top: 4%;
	}

#button{
	padding-top: 10%;
	}	
	
#pageContent{
	margin-top:2%
	}
#pageContent ol{
	font-size:20px;

	}
.decorate p{
	width:80%;
	margin-left:10%;
	margin-top: 10%;
	font-family: "Times New Roman", Times, serif;
	font-size: 25px;
	color: #939598;
	
	}
.stuff{
	margin-top: 3%;
	}

#name{
	margin-top: -20%;
	}
#pageContent2{
	width: 42%;
	line-height: 275%;
	margin-top:1.5%;
	}
	
.container h1{
	font-family: 'Open Sans', sans-serif;
	color: black;
	}

.title{
	margin-top:5%;
	}
.title h1{
	font-family: 'Open Sans', sans-serif;
	color: #939598;
	padding-top: 5%:
	}
	

p{
	font-family: 'Work Sans', sans-serif;
	font-size: 20px;
	padding-top:1%;

	}

#rePix	{
	
	padding-top: 3%;
}
.container h3{
	padding-top: 7%;
	color: #6E919A;
	font-size: 26pt;
	font-family: 'Open Sans', sans-serif;
	}
	
	/* extra pics*/
#carouselPlus{
	width: 30%;
	margin-top: 5%;

	
	}

#carousel{
 	
	
	}
.thmb1, .thmb2, .thmb3, .thmb4, .thmb5{	
	margin-bottom:10px;

	}

#but1{
	width: 180px;
	height: 180px;
	background:url('../thm/thmChillin.png') top center no-repeat;
	border: none;
	background-size: 180px 180px;
	-webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -kthtml-transition: all .3s linear;
    transition: all .3s linear;

	
	}

#but1:hover{
	margin: -5px; 
	background:url('../thm/thmChillin.png') top center no-repeat;
	 -webkit-box-shadow: 10px 10px 5px 2px #ECECEC;
    -moz-box-shadow: 10px 10px 5px 2px #ECECEC;
    box-shadow: 10px 10px 5px 2px #ECECEC;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -kthtml-transition: all .3s linear;
    transition: all .3s linear;
	width: 180px;
	height: 180px;
	background-size: 180px 180px;


}

#but2{
	width: 180px;
	height: 180px;
	transition: background 0.8s ease;
	background:url('../thm/thmUCS.png') top center no-repeat;
	border: none;
	background-size: 180px 180px;
	-webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -kthtml-transition: all .3s linear;
    transition: all .3s linear;

	
	}

#but2:hover{
	margin: -5px; 
	background:url('../thm/thmUCS.png') top center no-repeat;
	 -webkit-box-shadow: 10px 10px 5px 2px #ECECEC;
    -moz-box-shadow: 10px 10px 5px 2px #ECECEC;
    box-shadow: 10px 10px 5px 2px #ECECEC;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -kthtml-transition: all .3s linear;
    transition: all .3s linear;
	width: 180px;
	height: 180px;
	background-size: 180px 180px;

}
#but3{
	width: 180px;
	height: 180px;
	transition: background 0.8s ease;
	background:url('../thm/thmFireWerk.png') top center no-repeat;
	border: none;
	background-size: 180px 180px;
	-webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -kthtml-transition: all .3s linear;
    transition: all .3s linear;
	
	}

#but3:hover{
	margin: -5px; 
	background:url('../thm/thmFireWerk.png') top center no-repeat;
	 -webkit-box-shadow: 10px 10px 5px 2px #ECECEC;
    -moz-box-shadow: 10px 10px 5px 2px #ECECEC;
    box-shadow: 10px 10px 5px 2px #ECECEC;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -kthtml-transition: all .3s linear;
    transition: all .3s linear;
	width: 180px;
	height: 180px;
	background-size: 180px 180px;

}
#but4{

	width: 180px;
	height: 180px;
	transition: background 0.8s ease;
	background:url('../thm/thmTim.png ') top center no-repeat;
	border: none;
	background-size: 180px 180px;
	-webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -kthtml-transition: all .3s linear;
    transition: all .3s linear;
	
	}

#but4:hover{
	margin: -5px; 
	background:url('../thm/thmTim.png ') top center no-repeat;
 -webkit-box-shadow: 10px 10px 5px 2px #ECECEC;
    -moz-box-shadow: 10px 10px 5px 2px #ECECEC;
    box-shadow: 10px 10px 5px 2px #ECECEC;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -kthtml-transition: all .3s linear;
    transition: all .3s linear;
	width: 180px;
	height: 180px;
	background-size: 180px 180px;

}
#but5{
	width: 180px;
	height: 180px;
	transition: background 0.8s ease;
	background:url('../thm/thmSearching.png') top center no-repeat;
	border: none;
	background-size: 180px 180px;
	-webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -kthtml-transition: all .3s linear;
    transition: all .3s linear;
	
	
	}

#but5:hover{
	margin: -5px; 
	background:url('../thm/thmSearching.png') top center no-repeat;
	 -webkit-box-shadow: 10px 10px 5px 2px #ECECEC;
    -moz-box-shadow: 10px 10px 5px 2px #ECECEC;
    box-shadow: 10px 10px 5px 2px #ECECEC;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -kthtml-transition: all .3s linear;
    transition: all .3s linear;
	width: 180px;
	height: 180px;
	background-size: 180px 180px;

}

#but6{
	width: 180px;
	height: 180px;
	transition: background 0.8s ease;
	background:url('../thm/thmNightSky.png') top center no-repeat;
		border: none;
	background-size: 180px 180px;
	-webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -kthtml-transition: all .3s linear;
    transition: all .3s linear;
	
	}

#but6:hover{
	margin: -5px; 
	background:url('../thm/thmNightSky.png') top center no-repeat;
	 -webkit-box-shadow: 10px 10px 5px 2px #ECECEC;
    -moz-box-shadow: 10px 10px 5px 2px #ECECEC;
    box-shadow: 10px 10px 5px 2px #ECECEC;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -kthtml-transition: all .3s linear;
    transition: all .3s linear;
	width: 180px;
	height: 180px;
	background-size: 180px 180px;


}

#but7{
	width: 180px;
	height: 180px;
	transition: background 0.8s ease;
	background:url('../thm/thmSpitFire.png') top center no-repeat;
		border: none;
	background-size: 180px 180px;
	-webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -kthtml-transition: all .3s linear;
    transition: all .3s linear;
	
	}

#but7:hover{
	margin: -5px; 
	background:url('../thm/thmSpitFire.png') top center no-repeat;
	 -webkit-box-shadow: 10px 10px 5px 2px #ECECEC;
    -moz-box-shadow: 10px 10px 5px 2px #ECECEC;
    box-shadow: 10px 10px 5px 2px #ECECEC;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -kthtml-transition: all .3s linear;
    transition: all .3s linear;
	width: 180px;
	height: 180px;
	background-size: 180px 180px;

}


#but8{
	width: 180px;
	height: 180px;
	transition: background 0.8s ease;
	background:url('../thm/thmRetreat.png') top center no-repeat;
	border: none;
	background-size: 180px 180px;
	-webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -kthtml-transition: all .3s linear;
    transition: all .3s linear;
	
	}

#but8:hover{
	margin: -5px; 
	background:url('../thm/thmRetreat.png') top center no-repeat;
		 -webkit-box-shadow: 10px 10px 5px 2px #ECECEC;
    -moz-box-shadow: 10px 10px 5px 2px #ECECEC;
    box-shadow: 10px 10px 5px 2px #ECECEC;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -kthtml-transition: all .3s linear;
    transition: all .3s linear;
	width: 180px;
	height: 180px;
	background-size: 180px 180px;

}

#but9{
	width: 180px;
	height: 180px;
	transition: background 0.8s ease;
	background:url('../thm/thmFnf.png') top center no-repeat;
	border: none;
	background-size: 180px 180px;
	-webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -kthtml-transition: all .3s linear;
    transition: all .3s linear;
	
	}

#but9:hover{
	margin: -5px; 
	background:url('../thm/thmFnf.png') top center no-repeat;
		 -webkit-box-shadow: 10px 10px 5px 2px #ECECEC;
    -moz-box-shadow: 10px 10px 5px 2px #ECECEC;
    box-shadow: 10px 10px 5px 2px #ECECEC;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -kthtml-transition: all .3s linear;
    transition: all .3s linear;
	width: 180px;
	height: 180px;
	background-size: 180px 180px;

}


.#block{
	width: 1000px ;
}



#column {
	margin-top:-25px;
	}
#dots{
	width: 50px;
	margin-top:10%;
	margin-bottom:7%;
	}

@media only screen and (max-width:510px){
	#pfp2 {
	width: 100%;
	}

	}
	

@media only screen and (max-width:1743px){

	#carouselPlus{
	width: 35%;
	}
}

@media only screen and (max-width:1618px){

	#carouselPlus{
	width: 43%;
	}
}

@media only screen and (max-width:1377px){

	#carouselPlus{
	width: 45%;
	}
}

@media only screen and (max-width:1299px){

	#carouselPlus{
	width: 47%;
	}
}

@media only screen and (max-width:1205px){

	#carouselPlus{
	width: 50%;
	}
}

@media only screen and (max-width:1101px){

	#carouselPlus{
	width: 55%;
	}
}

@media only screen and (max-width:1050px){

	#carouselPlus{
	width: 57%;
	}
}


@media only screen and (max-width:979px){
	#pageContent2{
	margin-top:1.5%;
	width: 60%;
	line-height: 275%;
	}
	
	#pfp2 {
	width: 80%;
	}
	#carouselPlus{
	width: 70%;
	margin-top:50px;
	}
}

@media only screen and (max-width:768px){
	#pageContent2{
	margin-top:1.5%;
	width: 75%;
	line-height: 275%;
	}
	#carouselPlus{
	width: 80%;
	margin-top:50px;
	}
}

	@media only screen and (max-width:480px){
#pageContent2{
	margin-top:1.5%;
	width: 90%;
	line-height: 275%;
	}

	#carousel{
	margin-top:10%;
}
}