
body{ 
	background-color: #E6E7E8;
	}

	#pfp2 {
	width:100%;
	display: block;
    margin-left: auto;
    margin-right: auto; 
	margin-top: 5%;
	}
#pfp {
	width: 80%;
	display: block;
    margin-left: auto;
    margin-right: auto; 
	margin-top: 10%;

	}
	
#pfp3 {
	width:100%;
	display: block;
    margin-left: auto;
    margin-right: auto; 
	margin-top: 4%;
	}

#button{
	padding-top: 10%;
	}	
	
#pageContent{
	margin-top:2%
	}
#pageContent ol{
	font-size:18px;
	}
.decorate p{
	width:80%;
	margin-left:10%;
	margin-top: 10%;
	font-family: "Times New Roman", Times, serif;
	font-size: 25px;
	color: #939598;
	
	}
.stuff{
	margin-top: 0%;
	}

#name{
	margin-top: -20%;
	}
#pageContent2{
	width: 42%;
	line-height: 275%;
	margin-top:1.5%;
	}
	
.container h1{
	font-family: 'Open Sans', sans-serif;
	color: black;
	}

.title{
	margin-top:5%;
	}
.title h1{
	font-family: 'Open Sans', sans-serif;
	color: #939598;
	padding-top: 5%:
	}
	

p{
	font-size: 19px;
	padding-top:1%;
	font-family: 'PT Serif', serif;
	}

	
.container h3{
	padding-top: 4%;
	color: #336E7B;
	font-family: 'Open Sans', sans-serif;
	}
	
	/* extra pics*/
#carouselPlus{
	width: 42%;
	margin-top:50px;
	}

#carousel{

	
	}
.thmb1, .thmb2, .thmb3, .thmb4, .thmb5{	
	margin-bottom:40px;
	}



#column {
	margin-top:-25px;
	}
#dots{
	width: 50px;
	margin-top:10%;
	margin-bottom:7%;
	}

@media only screen and (max-width:510px){
	#pfp2 {
	width: 300px;
	}

	}
	

	

@media only screen and (max-width:979px){
	#pageContent2{
	margin-top:1.5%;
	width: 60%;
	line-height: 275%;
	}

}

@media only screen and (max-width:768px){
	#pageContent2{
	margin-top:1.5%;
	width: 75%;
	line-height: 275%;
	}
}

	@media only screen and (max-width:480px){
#pageContent2{
	margin-top:1.5%;
	width: 90%;
	line-height: 275%;
	}
}