



html, body{
    height: 100%;
}
h2{
	color: #F1A9A0;
	}


body{
	background: url('../images/background.png') center no-repeat;
}

	
#containerTop{
	width: 80%;
}


.navbar-default{
	margin-top: 1%;
	background-color: transparent ;
	height: 70px;
	min-width:100%;
	border:none;
	}

	
	/* THIS CONTROLS THE NAV TEXT */
.navbar-default .navbar-nav> li>a{
	color: #A7A9AC;
	font-size: 18px;
	font-family: 'Didact Gothic', sans-serif;

	}
	
 .navbar-brand,
.navbar-nav li a{
	height: 70px;
	margin-left:1px;
	
	
	}

.navbar-nav li a{
	line-height:95px;
	padding:0 20px;
	
}
.navbar-default .navbar-nav>.active>a{ 
	background-color: transparent;
	border-bottom: 2px solid black;
	}
.navbar-default .navbar-nav>.active>a:hover{ 
	background-color: transparent;
	}





